nav.menu-nav ul {
	list-style-type: none;
}

nav.menu-nav ul li.btn {
	display: inline-block;
}
p{
	color: red;
}
nav.menu-nav ul li.btn a{
	color: #fff
}
nav.menu-nav ul li.btn a{
	text-decoration: none;
}
nav.menu-nav ul li.btn a{
	background-color: red;
	padding: 10px ;
}

nav.menu-nav ul li.btn:hover a{
	color: red;
}
nav.menu-nav ul li.btn a{
	text-decoration: none;
}
nav.menu-nav ul li.btn:hover a{
	background-color: #fff;
	transition: 0.4s
}
body.dir{
	console.clear();
}
